body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}
svg{
    display: flex;
    width: 16px;
    justify-content: space-between;
    padding: 0px 5px;
}
.container{
    position: relative;
    background-color: rgb(158, 153, 153);
    width: 95%;
    height: 50px;
    padding-left: 18px;
    padding-top: 20px;
    border-radius: 12px;
}
p{
    border-left: 1px solid white;
    padding: 0px 7px;
}
.icone{

    background-color: blue;
    color: white;
    fill: white;
    flex-direction: row;
    width: 100px;
    height: 33px;
    position: absolute;
    top: -20px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}
code{
    color: blue;
    font-weight: bolder;
}
